api = "0.10"

[buildpack]
id = "heroku/python"
version = "3.0.1"
name = "Heroku Python"
homepage = "https://github.com/heroku/buildpacks-python"
description = "Heroku's buildpack for Python applications."
keywords = ["python", "heroku"]

[[buildpack.licenses]]
type = "BSD-3-Clause"

[[targets]]
os = "linux"
arch = "amd64"

[[targets.distros]]
name = "ubuntu"
version = "22.04"

[[targets.distros]]
name = "ubuntu"
version = "24.04"

[[targets]]
os = "linux"
arch = "arm64"

[[targets.distros]]
name = "ubuntu"
version = "24.04"

[metadata.release]
image = { repository = "docker.io/heroku/buildpack-python" }
