name: Prepare Buildpack Release

on:
  workflow_dispatch:
    inputs:
      bump:
        description: "Bump"
        required: true
        default: "patch"
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  prepare-release:
    uses: heroku/languages-github-actions/.github/workflows/_buildpacks-prepare-release.yml@main
    with:
      bump: ${{ inputs.bump }}
      app_id: ${{ vars.LINGUIST_GH_APP_ID }}
    secrets:
      app_private_key: ${{ secrets.LINGUIST_GH_PRIVATE_KEY }}
