name: Prepare Buildpack Release

on:
  workflow_dispatch:
    inputs:
      bump:
        description: "Bump"
        required: true
        default: "patch"
        type: choice
        options:
          - major
          - minor
          - patch

# Disable all GITHUB_TOKEN permissions, since the GitHub App token is used instead.
permissions: {}

jobs:
  prepare-release:
    uses: heroku/languages-github-actions/.github/workflows/_buildpacks-prepare-release.yml@latest
    with:
      app_id: ${{ vars.LINGUIST_GH_APP_ID }}
      bump: ${{ inputs.bump }}
    secrets:
      app_private_key: ${{ secrets.LINGUIST_GH_PRIVATE_KEY }}
